<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{footer.learn}">
                            LEARN
                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.learn.courses}">Programming Courses</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.learn.java}">Java Course</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.learn.help}">Help with Tasks</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.learn.pricing}">Pricing</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.learn.games}">Game Projects</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.community}">
                            COMMUNITY
                        </h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.community.users}">Users</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.community.articles}">Articles</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.community.forum}">Forum</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.community.chat}">Chat</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.community.success}">Success Stories</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.company}">COMPANY</h6>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.company.about}">About us</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.company.contacts}">Contacts</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.company.reviews}">Reviews</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.company.faq}">FAQ</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#" th:text="#{footer.company.support}">Support</a>
                        </p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img alt="JavaRush" class="mb-3" src="/static/images/logo/jr.svg">
                        <p th:text="#{footer.about.text}">
                            JavaRush is an online course for learning Java programming from scratch.
                            This course is a perfect way to master Java for beginners.
                            It contains 1200+ of tasks with instant verification and an essential scope of Java
                            fundamentals theory.
                        </p>
                        <h6 th:text="#{footer.follow}">FOLLOW US</h6>
                        <div>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light" href="#" type="button">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4" th:text="#{footer.copyright}">
            Programmers Are Made, Not Born © 2023 JavaRush
        </div>
    </footer>
</div>
</html>