<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/main::page(title=#{page.index.title},appMain=~{::appMain})}">
    <appMain>

        <div class="mb-3">
            <a href="?lang=en" class="btn btn-outline-secondary btn-sm">EN</a>
            <a href="?lang=uk" class="btn btn-outline-secondary btn-sm">UK</a>
        </div>

        <h1 th:text="#{page.index.welcome}">JiraRush Home page</h1>

        <div th:if="${authUser} != null">
            <form action="/ui/logout" method="post">
                <button class="btn btn-primary btn-lg mt-3" type="submit" th:text="#{page.index.logout}">Logout</button>
            </form>
        </div>
    </appMain>
</th:block>
