<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{mail.confirm.title}">JiraRush - Email confirmation</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{mail.greeting} + ', ' + ${user.firstName} + '.'"></p>

<p th:text="#{mail.confirm.text}">
    To complete your account setup and start using JiraRush, please confirm that you have entered your email address correctly.
</p>

<a th:href="${confirmationUrl}" th:text="#{mail.confirm.button}">Confirm email</a>
</body>
</html>